<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'library/bootstrap5/css/bootstrap.min.css' %}" />
  <link rel="shortcut icon" href="{% static 'picture/icon.png' %}" />
  <!-- Optional: Add custom CSS for additional styling -->
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
    }
    .login-container {
      padding: 2rem;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
  <div class="container">
  
  <div class="login-container col-md-6 col-lg-6 col-sm-10">
    <h1 class="text-center mb-4 ">用户登录</h1>
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        您的用户名和密码不匹配，请重试。
      </div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>您的账户没有访问此页面的权限。请使用具有访问权限的账户登录。</p>
      {% else %}
        <p>请登录以查看此页面。</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">用户名:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">密码:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">登录</button>
      <div class="mt-3">
        <a href="{% url 'password_reset' %}">忘记密码？</a>
      </div>
      <div class="mt-3">
        还没有账号？ <a href="{% url 'register' %}">点击这里注册</a>.
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
  <!-- Bootstrap JS (Optional) -->
  <!-- 引入Bootstrap JS -->
  <script type="text/javascript" src="{% static 'library/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="{% static 'library/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>