<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <!-- Bootstrap CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'library/bootstrap5/css/bootstrap.min.css' %}" />
  <link rel="shortcut icon" href="{% static 'picture/icon.png' %}" />
  <!-- Optional: Add custom CSS for additional styling -->
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
    }
    .login-container {
      padding: 2rem;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
  <div class="container">
  
  <div class="login-container col-md-6 col-lg-6 col-sm-10">
    <h1 class="text-center mb-4 ">用户注册</h1>
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
       {{ form.errors }}
      </div>
    {% endif %}

    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">邮箱:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">用户名:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">密码:</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">确认密码:</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
      </div>
      <button type="submit" class="btn btn-primary">注册</button>
      <!-- 注释 注册成功会直接跳转至登录页面 -->
       
      <small class="m-3">tips:注册成功会直接跳转至登录页面</small>
      
      <div class="mt-3">
        已有账号？ <a href="{% url 'login' %}">点击这里登录</a>.
      </div>
    </form>
  </div>
</div>
  <!-- Bootstrap JS (Optional) -->
  <!-- 引入Bootstrap JS -->
  <script type="text/javascript" src="{% static 'library/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="{% static 'library/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>