{% extends 'base_generic.html' %}
{% block content %}
  <div id="main">
    <!-- 这里是页面的主要内容 -->
    <h1>开始你的创作之旅吧！</h1>
    <p>在这里你可以创建、编辑、删除你的文章。</p>
    <button>开始创作你的第一本小说</button>
    <br />
    <h2>请输入小说标题等相关信息</h2>

    <form method="get" action="{% url 'workedit' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="content">内容</label>
        <div>
          <textarea class="form-control" rows="5" id="content"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">提交</button>
    </form>
    <br />
    <p>如果需要，也可以从本地上传一个txt文件。</p>
    <form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <input type="file" name="myfile" />
      <button type="submit">上传</button>
    </form>
    <br />
    <p>或者，你也可以从本地导入一个已完成的小说。</p>
    <form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <input type="file" name="myfile" />
      <button type="submit">上传</button>
    </form>
    <br />
    <p>还可以从本地导入一个已完成的小说的目录。</p>
    <form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <input type="file" name="myfile" />
      <button type="submit">上传</button>
    </form>你的创作记录（一些例子）：<table>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>状态</th>
      </tr>
      <tr>
        <td>《三体》</td>
        <td>刘慈欣</td>
        <td>已完成</td>
      </tr>
    </table>
  </div>
{% endblock %}
