
{% extends 'base_generic.html' %}
{% block content %}
  <div id="main">
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">作品名</th>
                <th scope="col">作者</th>
                <th scope="col">发布日期</th>
                <th scope="col">更新状态</th>
                <th scope="col">是否发布</th>
                <th scope="col">最后更新时间</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for novel in novels %}
            <tr>
                <td><a href="{% url 'chapter_list_manage' novel.novel_id %}" class='link text-dark text-decoration-none'>《{{ novel.title }}》</a></td>
                <td>{{ novel.author_id.username }}</td>
                <td>{{ novel.publish_date }}</td>
                <td>{{ novel.status_display }}</td>
                <td>{{ novel.publish_enable }}</td>
                <td>{{ novel.renew_time }}</td>
                <td>
                    <div calss="d-flex flex-column">
                    <a href="{% url 'novel_manage_publish' novel.novel_id %}" class="btn btn-primary ">一键发布</a>
                    <a href="{% url 'novel_manage_nopublish' novel.novel_id %}" class="btn btn-success ">取消发布</a>
                    <a href="{% url 'novel_manage_delete' novel.novel_id %}" class="btn btn-danger ">删除作品</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        </span>
    </div>
  {% endif %}
</div>
</div>
{% endblock %}