{% extends 'base_generic.html' %}
{% block content %}
  <div id="main">
    <!-- 这里是页面的主要内容 -->
    <h3>原创</h3>
    <div class="container mt-4">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">作品名</th>
                  <th scope="col">作者</th>
                  <th scope="col">发布日期</th>
                  <th scope="col">更新状态</th>
                  <th scope="col">最后更新时间</th>
              </tr>
          </thead>
          <tbody>
              {% for novel in workedits %}
              <tr>
                  <td><a href="{% url 'workedit_chapters' novel.novel_id %}" class='link text-dark text-decoration-none'>《{{ novel.title }}》</a></td>
                  <td>{{ novel.author_id.username }}</td>
                  <td>{{ novel.publish_date }}</td>
                  <td>{{ novel.status_display }}</td>
                  <td>{{ novel.renew_time }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上一页</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一页</a>
              {% endif %}
          </span>
      </div>
      {% endif %}
    
  </div>
  <hr/>
  {% if uploadnovels %}
  <h3>用户上传</h3>
    <div class="container mt-4">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">作品名</th>
                  <th scope="col">上传用户</th>
              </tr>
          </thead>
          <tbody>
              {% for novel in uploadnovels %}
              <tr>
                  <td><a href="{% url 'uploadnovel_read' novel.id %}" class='link text-dark text-decoration-none'>《{{ novel.file_name }}》</a></td>
                  <td>{{ novel.user.username }}</td>
               
              </tr>
              {% endfor %}
          </tbody>
      </table>
  {% endif %}
</div>
{% endblock %}
